:root {
	--color-black: hsl(275 85% 10% / 1);
	--color-white: hsl(275 5% 98% / 1);
	--color-gray-light: hsl(275 75% 96% / 1);
	--color-gray-border: hsl(275 70% 92% / 1);
	--color-brand: hsl(275 85% 60% / 1);
	--color-text: hsl(275 45% 15% / 1);
	--color-text-muted: hsl(275 20% 50% / 1);

	color: var(--color-text);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
		Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	font-size: 16px;
	line-height: 1.45;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

html,
body {
	margin: 0;
}

:is(h1, h2, h3, h4, h5, h6) {
	color: var(--color-black);
	line-height: 1.1;
}

:is(button, input) {
	font-size: 1rem;
}

.loading {
	align-items: center;
	background: var(--color-gray-light);
	color: var(--color-text-muted);
	display: flex;
	justify-content: center;
	height: 100vh;
}

.box {
	background: var(--color-gray-light);
	border-radius: 0.5rem;
	box-shadow: 1px 1px 0.125rem var(--color-gray-border),
		-2px -2px 0.5rem var(--color-white), -1px -1px 0.125rem var(--color-white),
		2px 2px 0.25rem var(--color-gray-border),
		2px 2px 0.5rem var(--color-gray-border),
		inset 2px 2px 0.25rem var(--color-white),
		inset -2px -2px 0.25rem var(--color-gray-border);
	padding: 1.5rem;
	width: 900px;
}

.boxTopper {
	align-items: baseline;
	display: flex;
	justify-content: space-between;
}

.box h2 {
	font-size: 1rem;
	font-weight: 400;
}
