.progressList {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	list-style: none;
	margin-block-start: 1rem;
	padding: 0;
}

.quest {
	align-items: baseline;
	border-top: 1px solid var(--color-gray-border);
	display: flex;
	gap: 4rem;
	padding-block-start: 1rem;
}

.name {
	color: var(--color-text);
	font-size: 1rem;
}

.description {
	color: var(--color-text-muted);
	font-size: 0.75rem;
	margin-block-start: 0.25rem;
	max-width: 60ch;
}

.status {
	color: var(--color-text-muted);
	font-size: 0.875rem;
	font-weight: 700;
	margin-inline-start: auto;
}

.disclaimer {
	color: var(--color-text-muted);
	font-size: 0.875rem;
	padding: 0 1.5rem;
}

.disclaimer button {
	background: transparent;
	border: 1px solid transparent;
	border-radius: 0.125rem;
	color: var(--color-text-muted);
	font-size: 0.875rem;
	padding: 0.125rem 0.25rem;
}

.disclaimer button:is(:active, :focus, :hover) {
	background-color: var(--color-white);
	border-color: var(--color-gray-border);
	cursor: pointer;
}
